<domain type='kvm'>
  <name>{{ vm.edge.name }}</name>
  <memory unit='KiB'>{{ vm.edge.ram_size * 1024 }}</memory>
  <vcpu>{{ vm.edge.vcpu_count }}</vcpu>
  <os firmware="efi">
    <type arch="x86_64" machine="pc-q35-8.0">hvm</type>
    <firmware>
      <feature enabled="yes" name="enrolled-keys"/>
      <feature enabled="yes" name="secure-boot"/>
    </firmware>
    <!--loader readonly="yes" type="pflash">/usr/share/edk2/ovmf/OVMF_CODE.fd</loader-->
    <!--nvram template="/usr/share/edk2/ovmf/OVMF_VARS.fd">/var/lib/libvirt/qemu/nvram/{{ vm.edge.name }}.fd</nvram-->
    <loader readonly="yes" type="pflash" format="qcow2" secure="yes">/usr/share/edk2/ovmf/OVMF_CODE_4M.secboot.qcow2</loader>
    <nvram format="qcow2" template="/usr/share/edk2/ovmf/OVMF_VARS_4M.secboot.qcow2">/var/lib/libvirt/qemu/nvram/{{ vm.edge.name }}.secboot.fd</nvram>
    <boot dev="hd"/>
    <boot dev="cdrom"/>
    <boot dev="network"/>
    <bootmenu enable="yes" timeout="60"/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>
  <cpu mode="host-model" check="partial">
    <feature policy="require" name="vmx"/>
  </cpu>
  <devices>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='/var/lib/libvirt/images/{{ vm.edge.name }}.img'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='/var/lib/libvirt/images/{{ vm.edge.iso }}'/>
      <!--source file='/var/lib/libvirt/images/builder-cidata.iso'/-->
      <target dev='hdd' bus='sata'/>
      <readonly/>
    </disk>
    <controller type="scsi" index="0" model="virtio-scsi"/>
    <interface type='network'>
      <mac address='{{ vm.edge.mac_address }}'/>
      <source network='{{ vm.edge.network }}'/>
      <model type='virtio'/>
    </interface>
    <serial type="pty">
      <target type="isa-serial" port="0">
        <model name="isa-serial"/>
      </target>
    </serial>
    <console type="pty">
      <target type="serial" port="0"/>
    </console>
    <channel type="unix">
      <target type="virtio" name="org.qemu.guest_agent.0"/>
      <address type="virtio-serial" controller="0" bus="0" port="1"/>
    </channel>
    <graphics type="vnc" port="-1" autoport="yes" listen="127.0.0.1">
      <listen type="address" address="127.0.0.1"/>
    </graphics>
    <video>
      <model type="cirrus" vram="16384" heads="1" primary="yes"/>
    </video>
    {% if luks %}
    <!--tpm model='tpm-tis'>
      <backend type='passthrough'/>
      <device path='/dev/tpm0'/>
    </tpm-->
    <tpm model='tpm-crb'>
      <backend type='emulator' version='2.0'/>
      <alias name='tpm0'/>
    </tpm>
    {% endif %}
  </devices>
</domain>
