{% set os_major = microshift.os_version.split('.')[0] %}
id = "gitops-{{ gitops.version }}"
name = "Red Hat OpenShift GitOps {{ gitops.version }} for RHEL {{ os_major }}"
type = "yum-baseurl"
url = "https://cdn.redhat.com/content/dist/layered/rhel{{ os_major }}/{{ microshift.arch }}/gitops/{{ gitops.version }}/os"
check_gpg = true
check_ssl = true
system = false
rhsm = true

